<?php

/*
 * This file is part of the App project.
 *
 * (c) A51 doo <info@activecollab.com>. All rights reserved.
 */

return [
    'settings' => [
        'debug' => true,
        'displayErrorDetails' => true,
        'determineRouteBeforeAppMiddleware' => true,
    ],
    'renderer' => [
        'template_path' => dirname(__DIR__) . '/public/',
    ],
];
